@import './settings/fonts';
@import './settings/colors';

a {
    text-decoration: none;
    color: $dark-grey;
}

h2 {
    font-weight: 400;
    color: $dark-grey;
}

hr {
    width: 70px;
    height: 0.5px;
    color: $dark-grey;
}

label {
    display: block;
}

html, body {
    width: 100%;
    margin: 50px auto;
    // margin: 50px 0 0 0;
    font-family: $font-base;  
}

.home {
    @media (max-device-width: 1026px) {
        background-size: contain;
        background-position: -480px 0;
    }
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('../assets/Home-Hero-Image.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -280px 0;
    // // padding-bottom: 130px;
}

.home-header {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    line-height: 1.5em;
    font-size: 2em;
    margin: 50px 100px 0 0;
    font-family: $font-base;
    color: $dark-grey;
}

.text-and-decoration {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.decoration-image {
    width: 250px;
    height: 34px;
    margin-bottom: 50px;
    background-image: url('../assets/Decoration.svg');
}

li {
    list-style-type: none;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    margin: 0 100px 0 100px;
    position: sticky;
}

.start-button {
    @extend .menu-button;
    padding: 10px 15px;
    border: 1px solid $dark-grey;
}

.menu-button {
    margin: 0 0 0 30px;
    cursor: pointer;
}

.buttons {
    display: flex;
    min-width: 590px;
    justify-content: space-between;
}
.main-button {
    border: 1px solid $dark-grey;
    color: $dark-grey;
    background-color: white;
    text-align: center;
    width: 275px;
    cursor: pointer;
}

.login-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 100px 30px 0; 
}
.register-button {
    @extend .start-button;
    border-color: $yellow;
}

.three-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: $yellow;
    height: 300px;
    font-size: 1.5em;
}

.first-column p:nth-of-type(1) {
    font-size: 3em;
    font-family: $font-base;
    color: $dark-grey;
    margin-bottom: 20px;
    margin-left: 150px;
}

.first-column p:nth-of-type(2) {
    font-size: 0.8em;
    font-family: $font-base;
    color: $dark-grey;
    margin-bottom: 35px;
    margin-left: 150px;
}

.first-column p:nth-of-type(3) {
    font-size: 0.6em;
    font-family: $font-alt;
    color: $dark-grey;
    margin: 0 50px 80px 150px;
}

.second-column p:nth-of-type(1) {
    font-size: 3em;
    font-family: $font-base;
    color: $dark-grey;
    margin-bottom: 20px;
}

.second-column p:nth-of-type(2) {
    font-size: 0.8em;
    font-family: $font-base;
    color: $dark-grey;
    margin-bottom: 35px;
}

.second-column p:nth-of-type(3) {
    font-size: 0.6em;
    font-family: $font-alt;
    color: $dark-grey;
    margin: 0 50px 80px 50px;
}

.third-column p:nth-of-type(1) {
    font-size: 3em;
    font-family: $font-base;
    color: $dark-grey;
    margin-bottom: 20px;
    margin-right: 150px;
}

.third-column p:nth-of-type(2) {
    font-size: 0.8em;
    font-family: $font-base;
    color: $dark-grey;
    margin-bottom: 35px;
    margin-right: 150px;
}

.third-column p:nth-of-type(3) {
    font-size: 0.6em;
    font-family: $font-alt;
    color: $dark-grey;
    margin: 0 150px 80px 50px;
}

#o-co-chodzi {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #fff; 
    font-size: 1.5em;
    margin: 150px 0 150px 0;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: $light-grey;
    height: 400px;
    width: 100%;
    margin-bottom: 50px;
    font-size: 1.5em;
}

.first-icon {
    width: 120px;
    display: flex;
    font-size: 0.4em;
    color: $dark-grey;
    margin-left: 300px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.first-icon-bg {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/Icon-1.svg');
}

.second-icon {
    width: 120px;
    display: flex;
    font-size: 0.4em;
    color: $dark-grey;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.second-icon-bg {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/Icon-2.svg');
}

.third-icon {
    width: 120px;
    display: flex;
    font-size: 0.4em;
    color: $dark-grey;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.third-icon-bg {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/Icon-3.svg');
}

.fourth-icon {
    width: 140px;
    display: flex;
    font-size: 0.4em;
    color: $dark-grey;
    margin-right: 300px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.fourth-icon-bg {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/Icon-4.svg');
}

.main-button-o-co-chodzi {
    @extend .main-button;
    margin-bottom: 50px;
    padding: 10px;
    width: 200px;
}

#o-nas {
    display: flex;
    height: 100vh;
    justify-content: space-between;
}

.o-nas-text {
    margin-bottom: 50px; 
}

.o-nas-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
}

.o-nas-text {
    text-align: center;
    color: $dark-grey;
    font-size: 2em;
}

.o-nas-right {
    width: 50%;
    background-position: -250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../assets/People.jpg');
}

.signature {
    width: 25%;
    height: 12%;
    margin-left: 700px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/Signature.svg');
}

#fundacja-i-organizacje {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 100px 700px;
}

.fundacja-header {
    text-align: center;
    color: $dark-grey;
    font-size: 2em;
    margin: 0 0 50px 0;
}

.fundacja-i-organizacje-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.main-button-fundacje {
    @extend .main-button;
    height: 3em;
    font-size: 1.5em;
    width: 200px;
}

.main-button-organizacje {
    @extend .main-button;
    height: 3em;
    font-size: 1.5em;
    width: 200px;
}

.main-button-lokalne-organizacje {
    @extend .main-button;
    height: 3em;
    font-size: 1.5em;
    width: 200px;
}

.fundacja-text {
    color: $dark-grey;
    font-size: 1.5em;
    text-align: center;
    margin: 50px 0;
}

.fundacja-i-organizacje-content {
    width: 100%;
    height: 50vh;
    text-align: center;
    border: 1px dotted $dark-grey;
}

#kontakt {
    display: flex;
    align-items: center;
}

.kontakt-header {
    @extend .fundacja-header;
}

.kontakt-left-side {
    width: 50%;
    height: 100vh;
    background-image: url('../assets/Background-Contact-Form.jpg');
    opacity: 20%; 
    background-size: cover;
}

.kontakt-right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    // margin-right: 100px;
}

.kontakt-form {
    display: flex;
    flex-direction: column;
}

.kontakt-first-row {
    display: flex;
    margin: 0 0 20px 0;
}

.kontakt-input {
    width: 300px;
    height: 20px;
    margin: 20px 30px 20px 0;
    border: none;
    border-bottom: 1px solid $dark-grey;
    margin-bottom: 25px;
}

.kontakt-input:focus {
    background-color: $light-grey;
    outline: none;
}

.kontakt-input-description {
    width: 630px;
    height: 100px;
    border: none;
    border-bottom: 1px solid $dark-grey;
    margin: 20px 0 40px 0;
    
}

.kontakt-input-description:focus {
    background-color: $light-grey;
    outline: none;
}

.kontakt-input-description::placeholder {
    height: 100px;
    word-wrap: normal;
    color: grey;
}

.submit-button-position {
    display: flex;
    justify-content: flex-end;
    margin: 0 30px 0 0;
}

.submit-button {
    border: 1px solid $dark-grey;
    color: $dark-grey;
    background-color: white;
    text-align: center;
    padding: 20px 40px;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 45vw;
    margin-right: 150px;
    font-family: $font-base;
    color: $dark-grey;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ico {
    margin: 10px;
}