@import './settings/fonts';
@import './settings/colors';

a {
    text-decoration: none;
    color: $dark-grey;
}

h2 {
    font-weight: 400;
    color: $dark-grey;
}

hr {
    width: 70px;
    height: 0.5px;
    color: $dark-grey;
}

body {
    margin: 50px 0 0 0;
    font-family: $font-base;  
}

.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('../assets/Home-Hero-Image.jpg');
    background-repeat: no-repeat;
    background-position: -480px -50px;
    padding-bottom: 130px;
}

.home-header {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    line-height: 1.5em;
    font-size: 2em;
    margin: 50px 100px 0 0;
    font-family: $font-base;
    color: $dark-grey;
}

.text-and-decoration {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.decoration-image {
    width: 250px;
    height: 34px;
    margin-bottom: 50px;
    background-image: url('../assets/Decoration.svg');
}

li {
    list-style-type: none;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    margin: 0 100px 0 100px;
}

.start-button {
    @extend .menu-button;
    padding: 10px 15px;
    border: 1px solid $dark-grey;
}

.menu-button {
    margin: 0 0 0 30px;
    cursor: pointer;
}

.buttons {
    display: flex;
    min-width: 590px;
    justify-content: space-between;
}
.main-button {
    border: 1px solid $dark-grey;
    color: $dark-grey;
    background-color: white;
    text-align: center;
    width: 275px;
}

.login-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 100px 30px 0; 
}
.register-button {
    @extend .start-button;
    border-color: $yellow;
}

.three-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: $yellow;
    height: 300px;
    font-size: 1.5em;
}

.first-column p:nth-of-type(1) {
    font-size: 3em;
    font-family: $font-base;
    color: $dark-grey;
    margin-bottom: 20px;
}

.first-column p:nth-of-type(2) {
    font-size: 0.8em;
    font-family: $font-base;
    color: $dark-grey;
    margin-bottom: 35px;
}

.first-column p:nth-of-type(3) {
    font-size: 0.6em;
    font-family: $font-alt;
    color: $dark-grey;
    margin: 0 50px 80px 50px;
}

.second-column p:nth-of-type(1) {
    font-size: 3em;
    font-family: $font-base;
    color: $dark-grey;
    margin-bottom: 20px;
}

.second-column p:nth-of-type(2) {
    font-size: 0.8em;
    font-family: $font-base;
    color: $dark-grey;
    margin-bottom: 35px;
}

.second-column p:nth-of-type(3) {
    font-size: 0.6em;
    font-family: $font-alt;
    color: $dark-grey;
    margin: 0 50px 80px 50px;
}

.third-column p:nth-of-type(1) {
    font-size: 3em;
    font-family: $font-base;
    color: $dark-grey;
    margin-bottom: 20px;
}

.third-column p:nth-of-type(2) {
    font-size: 0.8em;
    font-family: $font-base;
    color: $dark-grey;
    margin-bottom: 35px;
}

.third-column p:nth-of-type(3) {
    font-size: 0.6em;
    font-family: $font-alt;
    color: $dark-grey;
    margin: 0 50px 80px 50px;
}

#o-co-chodzi {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff; 
    font-size: 1.5em;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: $light-grey;
    height: 400px;
    width: 100%;
    margin-bottom: 50px;
    font-size: 1.5em;
}

.first-icon {
    width: 120px;
    display: flex;
    font-size: 0.4em;
    color: $dark-grey;
    margin-left: 300px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.first-icon-bg {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/Icon-1.svg');
}

.second-icon {
    width: 120px;
    display: flex;
    font-size: 0.4em;
    color: $dark-grey;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.second-icon-bg {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/Icon-2.svg');
}

.third-icon {
    width: 120px;
    display: flex;
    font-size: 0.4em;
    color: $dark-grey;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.third-icon-bg {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/Icon-3.svg');
}

.fourth-icon {
    width: 140px;
    display: flex;
    font-size: 0.4em;
    color: $dark-grey;
    margin-right: 300px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.fourth-icon-bg {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/Icon-4.svg');
}